<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Question {{ question }}. Tell us your funniest story | XMas Quest</title>
</head>
<body>
    <h1>The year is over. What was your funniest story during the year?</h1>
    <form method="post" action="processing...">
        <input type="text" name="answer">
        <br>
        <input type="submit" value="Send the answer">
    </form>
</body>
</html>